.c-item {
    margin: .3em .3em;
    padding: 1em;
    padding-right: 4em;
    border-radius: .3em;
    background-color: var(--c-white);
    position: relative;
    box-shadow: 1px 1px 1px 0px grey;
}

.c-item__remove-item-button {
    display: inline;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* Use RGBA so children aren't made transparent aswell */
    position: absolute;
    right: 1em;
    z-index: 999;
}
