.c-item {
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    background-color: lightgrey;
    position: relative;
}

.c-item__remove-item-button {
    display: inline;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* Use RGBA so children aren't made transparent aswell */
    position: absolute;
    right: 1em;
    z-index: 999;
}
